// =============================================
// General styling
// =============================================
body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0 !important;
  }
}

// =============================================
// Custom classes
// =============================================
// Application wrapper size
.appWrapper {
  max-width: 320px;
  margin: 0 auto;
}
@include xs {
  .appWrapper {
    max-width: 420px;
    margin: 0 auto;
  }
}

// Fonts
.fontStyled {
  font-family: $font-styled;
}

// Letter spacing
.ls-1 {
  letter-spacing: 1px;
}
.ls-2 {
  letter-spacing: 2px;
}
.ls-3 {
  letter-spacing: 3px;
}

// Alignment
.alignAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

// =============================================
// Links
// =============================================
// React NavLink style
.nav-item {
  min-width: 90px;
  text-align: center;
  a {
    color: var(--bs-light);
    &:hover {
      color: var(--bs-secondary);
    }
  }
  .active {
    color: var(--bs-gray-300);
  }
}
// Icon link style
.icon-item {
  a {
    color: var(--bs-primary);
    &:hover {
      color: var(--bs-secondary);
    }
  }
  .active {
    color: var(--bs-secondary);
  }
}

// =============================================
// Brand design
// =============================================
// Logo design
.rotateTextLeft {
  transform: rotate(-25deg);
  margin-top: 20px !important;
}
.rotateTextRight {
  transform: rotate(25deg);
  margin-top: 20px !important;
}
