@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
$font-styled: 'Rampart One', cursive;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-default: 'Poppins', sans-serif;

// Bootstrap font-sizes
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// Replace Bootstrap base styles
$font-family-base: 'Poppins', sans-serif;
$link-decoration: none;

// Enables bootstrap negative margins
$enable-negative-margins: true;

// Custom styles
@import './custom-colors';
@import './custom-breakpoints';
@import './custom-utilities';
@import './custom-styles';

// Bootstrap styles
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
